* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #333333;
	background: url('../img/background.jpg'), rgba(0,0,0,0.3);
	background-
	color: white;
	font-family: Arial;
}


#container {
	width: 100%;
	height: 100%;
}

#container h1, h2 {
	font-weight: 800;
	font-style: italic;
	text-align: center;
	margin-top: 50px;
	color: #2bff75;
	text-shadow: 1px 1px 10px black;
}

#container h2 {
	font-style: normal;
	font-weight: 600;
}
button, select {
	width: 300px;
	height: 50px;
	margin: 10px auto;
	display: block;

}

select {
	color: black;
}
button {

	border-radius: 0px;
	color: white;

	background-color: rgba(0, 255, 0, 0.1);
	border-color: rgba(0, 255, 0, 1);
	transition: 0.5s border-radius, width;

}

button:hover {
	border-radius: 40px;
	border-color: rgba(200, 255, 200, 1);
}


a {
	text-decoration-style: none
}

table {
	width: 500px;
	margin: 0 auto;
}

table td {
	height:60px;
	text-align: center;
}

.col1 {
	color: white;
	background-color: rgba(0, 255, 0, 0.4);
}

.col2 {
	color: black;
	background-color: rgba(100, 255, 100, 1.0);
}

.tLabel {
	color: white;
	background-color: #3d3d3d;
	font-weight: 700;
}
